* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.box {
  background-color: #b0ebf7;
  color: black;
  width: 50%;
  min-height: 60px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.container :nth-child(1) {
  border-right: 1px solid orange;
}

.boxfull {
  background-color: #b0ebf7;
  color: black;
  width: 100%;
  min-height: 60px;
  display: flex;
  border-top: 1px solid orange;
  justify-content: center;
  align-items: center;
}

@media screen and (max-width: 768px) {
  .box {
    width: 100%;
  }

  .container :nth-child(1) {
    border-bottom: 1px solid orange;
  }
}
